body {
    font-family:'Ubuntu', sans-serif;
    font-size: 110%;
}
form {
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}
#buton {
    font-size: 70%;
    padding: auto;
    margin: auto;
    border-radius: 10%;
}
#buton:hover {
    cursor: pointer;
    border-color: hotpink;
}
body {
    max-width: 500px;
  margin: auto;
}